@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*
# Front-end Style Guide

## Layout

*/
  --WidthMobile: 375px;
  --WidthDesktop: 1440px;
  /*
## Colors

### Primary
*/
  --ColorRed: hsl(0, 100%, 74%);
  --ColorGreen: hsl(154, 59%, 51%);
  /*
### Accent
*/
  --ColorBlue: hsl(248, 32%, 49%);
  /*
### Neutral
*/
  --ColorDarkBlue: hsl(249, 10%, 26%);
  --ColorGrayishBlue: hsl(246, 25%, 77%);
  /*
## Typography

### Body Copy
*/
  --FontSize: 16px;
  /*
### Font
*/
  --FontFamily: "Poppins", "sans-serif";
  --FontWeightRegular: 400;
  --FontWeightMedium: 500;
  --FontWeightSemiBold: 600;
  --FontWeightBold: 700;
}

/* Frontend Mentor Attribution styles*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: var(--ColorRed);
  background-repeat: no-repeat;
  background-position: 50% 10px;
  font-family: var(--FontFamily);
  max-width:350px;
  margin: 10px auto;
}

.main_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 38px;
}

.main_container__header_container {
  margin: 35px auto;
  color: #fff;
}

.main_container__header_container__title {
  width: 230px;
  line-height: 35px;
  margin: 30px auto;
  font-size: 1.7rem;
}

.main_container__header_container__text {
  width: auto;
  max-width: 310px;
  text-align: center;
  line-height: 26px;
  margin: 0 auto;
}

.main_container__content_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main_container__content_container__message_container {
  background: var(--ColorBlue);
  color: #fff;
  height: 90px;
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 0 0px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.main_container__content_container__message_container__text {
  width: 230px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--ColorGrayishBlue);
  font-weight: var(--FontWeightRegular);
}

.main_container__content_container__message_container__text-bold {
  font-weight: var(--FontWeightSemiBold);
  color: #fff;
}

.main_container__content_container__form {
  height: 440px;
  background-color: #fff;
  padding: 27px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.18);
}

.main_container__content_container__form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
}

.main_container__content_container__form__fieldset__submit {
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: var(--ColorGreen);
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
  font-weight: var(--FontWeightSemiBold);
  letter-spacing: 1px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.main_container__content_container__form__fieldset__terms_container {
  width: 250px;
  margin: 0 auto 5px auto;
}

.main_container__content_container__form__terms_container__text {
  font-size: 11px;
  color: var(--ColorGrayishBlue);
  text-align: center;
  line-height: 20px;
}

.main_container__content_container__form__terms_container__text__link {
  text-decoration: none;
  color: var(--ColorRed);
  font-weight: var(--FontWeightBold);
}

.fieldset__field {
  height: 53px;
  border-radius: 5px;
  border: 0.5px solid rgba(125, 125, 125, 0.3);
  font-size: var(--FontSize);
  padding-left: 20px;
  font-weight: var(--FontWeightBold);
}

@media screen and (min-width: 769px) {
  body {

  }

  .main_container {

  }

  .main_container__header_container {


  }

  .main_container__header_container__title {


  }

  .main_container__header_container__text {


  }

  .main_container__content_container {

  }

  .main_container__content_container__message_container {


  }

  .main_container__content_container__message_container__text {

  }

  .main_container__content_container__message_container__text-bold {
  }

  .main_container__content_container__form {
  }

  .main_container__content_container__form__fieldset {
  }

  .main_container__content_container__form__fieldset__submit {
  }

  .main_container__content_container__form__fieldset__terms_container {
  }

  .main_container__content_container__form__terms_container__text {
  }

  .main_container__content_container__form__terms_container__text__link {
  }

  .fieldset__field {
  }
}
